* {
    padding: 0;
    margin: 0;
}

.container-one {
    top: 0px;
    margin: 10px;
    width: 1300px;
    height: 973px;
    /* UI Properties */
    background: #FBFBFB 0% 0% no-repeat padding-box;
    opacity: 1;

}


.header {
    background-color: #CE0505;
    align-items: center;
    /* justify-content: flex-end;*/
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    text-align: left;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    margin-left: 5%;
    font: normal normal 600 33px/50px Poppins;
    letter-spacing: 0px;
    color: #EB2929;
    opacity: 1;
}

.home-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
}


.home-link>ul {
    display: inline-flex;
    margin-right: 5%;

}

.home-link>ul>li {
    list-style: none;
    padding: 10px;
}

.home-link>ul>li>a {
    font-size: 16px;
    color: #FFFFFF;
    font-family: normal normal medium 16px/25px Poppins;
    text-decoration: none;
}

li:nth-child(2) {
    border: 1px solid white;
}

.small {
    margin-top: 80px;
    margin-left: 100px;

    width: 1000px;
    height: 352px;
    /* UI Properties */
    opacity: 1;
}

.small>img {

    background-position: center;
    object-fit: cover;
    top: 132px;
    left: 113px;
    width: 1130px;
    height: 300px;
    opacity: 1;
}

#text-image {
    position: relative;
    margin-left: 80%;
    top: 80%;
    font: normal normal 600 16px/30px Poppins;
    letter-spacing: 0px;
    opacity: 1;

}

#text-image>button {
    width: 200px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 0.8;
    color: #192F60;
    cursor: pointer;

}

#Big-chill {
    position: relative;
    top: 40px;
    color: #192F60;
    font-size: 30px;
}

.order-online {
    position: relative;
    margin-left: 80%;
    top: 30%;
    font: normal normal medium 18px/27px Poppins;
    letter-spacing: 0px;
    opacity: 1;
}

.order-online>button {
    background: #CE0505 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    width: 200px;
    height: 40px;
    color: #FFFFFF;
    cursor: pointer;


}

.overview {
    position: relative;
    top: 100px;

}

.overview>button {
    border-style: none;
    font: normal normal 600 18px/27px Poppins;
    color: #192F60;
    cursor: pointer;
    font-size: 18px;
}

#contact {
    position: relative;
    margin-left: 40px;
}

.overview>button:hover {
    text-decoration-line: underline;
    border-color: #CE0505;
}

.line {
    margin-top: 10px;
    width: 1100px;
    height: 4px;
    background-color: #CE0505;

}

.place {
    position: relative;
    margin-top: 130px;
    color: #192F60;
}

#About {
    color: #192F60;
    position: absolute;
    font-size: 22px;

}

#cuisine {
    color: #192F60;
    position: absolute;
    font-size: 18px;
    top: 60px;

}

#items {
    color: #192F60;
    position: absolute;
    font-size: 16px;
    top: 90px;
}

#cost {
    color: #192F60;
    position: absolute;
    font-size: 18px;
    top: 130px;
}

#item-cost {
    color: #192F60;
    position: absolute;
    font-size: 16px;
    top: 160px;

}