.main-head {
    background-image: url(../main.jpg);
    background-size: cover;
    object-fit: contain;
    height: 20rem;
    background-repeat: no-repeat;
    width: 100%;
    color: black;
}


#logo {
    position: relative;
    top: 61px;
    font-size: 28px;
    border-radius: 50%;
    border: 17px solid tomato;
    color: #fff;
}

.first-content {
    margin-top: 96px;

}

select {
    margin-top: 17px;
    width: 13%;
    text-align: center;
    height: 33px;
    border-radius: 9px;
    color: black;
}

#inp {
    width: 20%;
    text-align: center;
    border-radius: 12px;
    height: 35px;
}

.fa-magnifying-glass {
    position: relative;
    left: 26px;
}