footer {
    margin-top: 183px;
}



.footer-content {
    background-color: rgb(230, 247, 230);
    text-align: center;
}

textarea {
    position: absolute;
    /* margin-top: 2px; */
    /* left: 186px; */
    /* right: 492px; */
    top: 568px;
}

.navbar {
    justify-content: space-around;

}

.footer-navbar>ul {
    display: flex;
    padding: 10px;
    gap: 20px;
    list-style: none;

}

li {
    list-style: none;
    text-decoration: none;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}